# Django Core Settings
DJANGO_SECRET_KEY=your-super-secret-key-for-production
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=yourdomain.com,your-ec2-ip-address

# Razorpay settings
RAZORPAY_KEY_ID=your_razorpay_key
RAZORPAY_KEY_SECRET=your_razorpay_secret

# AWS S3 settings for Resumes
USE_S3=TRUE
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_STORAGE_BUCKET_NAME=your-bucket-name
AWS_S3_REGION_NAME=your-region (e.g., us-east-1)
